* {
    transition-behavior: allow-discrete !important;
}
:root {
    /* scrollbar-gutter: stable; */
    background-color: var(--sidebar-background);
}
textarea,
input {
    min-width: 0px;
}

select,
::picker(select) {
    appearance: base-select;

    &::picker-icon {
        height: fit-content;
    }
    &:open::picker-icon {
        rotate: 180deg;
    }

    & selectedcontent,
    & option {
        display: flex;
        gap: 0 1ch;
        width: 100%;
    }

    & selectedcontent {
        & a {
            display: none !important;
        }
    }

}

.ct-inline-size {
    container-type: inline-size;
}

@layer base {
    /* lower specificity to allow tw-classes to overwrite */
    textarea {
        display: block;
        height: fit-content;
        field-sizing: content;
        width: 100%;
    }
    field {
        display: block;
        display: flow-root;
    }
}
