* {
    transition-behavior: allow-discrete !important;
}

select,
::picker(select) {
    appearance: base-select;

    &:open::picker-icon {
        rotate: 180deg;
    }
    /*
    & selectedcontent {
    } */

    & option {
        width: 100%;
    }

}

.ct-inline-size {
    container-type: inline-size;
}