* {
    transition-behavior: allow-discrete !important;
}

textarea,
input {
    min-width: 0px;
}

textarea {
    display: block;
    height: fit-content;
    field-sizing: content;
    width: 100%;
}

select,
::picker(select) {
    appearance: base-select;

    &::picker-icon {
        height: fit-content;
    }
    &:open::picker-icon {
        rotate: 180deg;
    }
    /*
    & selectedcontent {
    } */

    & option {
        width: 100%;
    }

}

.ct-inline-size {
    container-type: inline-size;
}